body {
    font-family: Arial, sans-serif;
    background-color: violet;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: pink;
}

h2 {
    color: grey;
}


ul {
    list-style-type: square;  
    background-color: yellow;
    padding: 10px;
    border: 2px solid ;
    margin-bottom: 20px;
}


ul li {
    font-size: 16px;
    color: aqua;
}


ol {
    list-style-type: decimal; 
    background-color:blueviolet ;
    padding: 10px;
    border: 2px solid gold;
}

ol li {
    font-size: 16px;
    color: darkmagenta;
}

ul li:hover, ol li:hover {
    background-color:floralwhite;
    border-radius: 5px;
}
