body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
}

h1 {
    font-size: 36px;
    margin: 0;
}

#section {
    text-align: center;
    margin-bottom: 40px;
}

.image-container {
    margin-bottom: 20px;
}

.centered-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.car-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.car-image-container {
    max-width: 100%;
    width: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.car-image {
    width: 350px; 
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.car-description {
    width: 50%;
    padding: 10px;
}

.car-description h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.car-description p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.buy-button {
    padding: 10px 20px;
    background-color: #e60000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0e11a7;
}

.video-button {
    padding: 10px 20px;
    background-color: #1b245283;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.video-button:hover {
    background-color: #005f73;
}

.comments {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comments h2 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #002244;
}

.car-images img {
    width: 350px; 
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .car-details {
        flex-direction: column;
        text-align: center;
    }

    .car-images {
        width: 100%;
        justify-content: center;
    }

    .car-description {
        width: 100%;
        margin-top: 20px;
    }
}
