nav {
    background-color:hotpink; 
    padding: 10px;
}


nav ul li {
    color: rgb(232, 121, 197); 
    padding: 10px; 
    list-style: none; 
}


nav > ul > li {
    font-size: 18px; 
    text-align: center; 
}


nav ul li + li {
    background-color:pink; 
}
