article >div>p{
    color: black;
    background-color: blue;
}
article >p{
    color: chartreuse;
    background-color: aliceblue;
}
article +p{
    color: red;
    background-color: crimson;
}
article+p+p{
    color: darkgreen;
    background-color: darkolivegreen;
}
article>p:first-child{
    color: deeppink;
    background-color: pink;
}
input:active{
    border: 1px purple;
    background-color: blueviolet;
}
input:focus{
    border:2px yellow;
    background-color: orange;
}
input:out-of-range{border: 2px; background-color: darksalmon;
}
p:first-of-type{background-color: bisque; ! important;}